{% extends 'base.html' %}
<h1>Barback</h1>
{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'barback/style.css' %}">
    {% if request.user.is_authenticated %}
      <a href="{% url 'barback:logout' %}">Sign Out</a>
    {% else %}
      <p><a href="{% url 'barback:register' %}">Sign Up</a></p>
      <a href="{% url 'barback:login' %}">Sign In</a>
    {% endif %}
    <h1>Cocktail List</h1>
    <a href="{% url 'barback:cocktail_form' %}">Create a cocktail</a>
    {% if latest_cocktail_list %}
      <ul>
        {%for cocktail in latest_cocktail_list %}
          <li><a href="{% url 'barback:detail' cocktail.id  %}">{{ cocktail.cocktail_name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No cocktails are available.</p>
    {% endif %}
    <p><a href="{% url 'barback:about' %}">About</a></p>
{% endblock %}
