{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {% block head %}
  <title>Barback</title>
  {% endblock %}
</head>
<body>
  {% block body %}
  <div class="container-fluid">
    <h1 class="display-2">All Cocktails</h1>
    <p>Welcome to Barback</p>
    <a href="{% url 'barback:cocktail_form' %}">Create a cocktail</a>
    {% if latest_cocktail_list %}
      <div class="buttons">
        <button class="list-view on">List</button>
        <button class="grid-view">Grid</button>
      </div>
      <div class="wrapper grid">
        {% for cocktail in latest_cocktail_list %}
        <div class="col col-md-4">
          <div class="card">
            <img src="{{ cocktail.cocktail_image.url }}" class="card-img-top" hieght="278" width="185">
            <!-- set image too 278x185 -->
            <div class="card-body">
              <a href="{% url 'barback:detail' cocktail.id %}">
                <h5 class="card-title text-center">{{ cocktail.cocktail_name }}</h5>
              </a>
              <p class="card-text text-center">{{ cocktail.cocktail_info }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% else %}
    <p>No cocktails are available.</p>
    {% endif %}
  </div>
  {% endblock %}

  {% block javascript %}
    <script type="text/javascript">
      var listButton = $('button.list-view');
      var gridButton = $('button.grid-view');
      var wrapper = $('div.wrapper');

      listButton.on('click',function(){
        gridButton.removeClass('on');
        listButton.addClass('on');
        wrapper.removeClass('grid').addClass('list');
      });

      gridButton.on('click',function(){
        listButton.removeClass('on');
        gridButton.addClass('on');
        wrapper.removeClass('list').addClass('grid');
      });
    </script>
  {% endblock %}
</body>
</html>
