{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {% block head %}
  <title>Barback</title>
  {% endblock %}
</head>
<body>
  {% block body %}
  <div class="container">
    <h1 class="display-2">All Cocktails</h1>
    <div id="search">
      <input type="text" placeholder=" search cocktail" id="filter-search">
    </div>
    <a href="{% url 'barback:cocktail_form' %}">Create a cocktail</a>
  </div>
  {% if latest_cocktail_list %}
  <div class="container-fluid" id="cocktails">
    {% for cocktail in latest_cocktail_list %}
      {% if cocktail.public %}
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 recipe" id="{{ cocktail.cocktail_name }}">
        <div class="card">
          <img src="{{ cocktail.cocktail_image.url }}" class="card-img-top" height="185" width="278">
          <div class="card-body">
            <a href="{% url 'barback:detail' cocktail.id %}">
              <h5 class="card-title text-center">{{ cocktail.cocktail_name }}</h5>
            </a>
            <p class="card-text text-center">{{ cocktail.cocktail_info }}</p>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% else %}
  <p>No cocktails are available.</p>
  {% endif %}
  {% endblock %}

  {% block javascript %}
  {% endblock %}
</body>
</html>
